In [1]:
import pandas as pd 
sales = pd.read_csv('Oorjja.csv')
sales
sales.head() #head() will shows 1st 5 rows of the data
sales.tail() #tail() shows the last 5 rows
sales.head(4)
sales.tail(4)
sales.head(6)
sales.tail(6)
sales.head(8)
sales.tail(8)
sales.head(10)
sales.tail(10)

,Timestamp,NAME,Place,Designation,GENDER,EDUCATION,Age,Number of members in your family ?,Size of your shirt?,Number of knives at your home?,Number of chairs in your home?,Which is your favorite color,How many liters of milk are being bought every day in your house?,Height in cm,Weight in kg
9,2022/05/26 10:13:54 AM GMT+5:30,Soul Joseph,"Kanjikuzhi, Alappuzha",Student,MALE,Graduation(Degree)(Bcom),30,3,M,3,10,Pink,500ml,160,57
10,2023/04/04 11:24:37 AM GMT+5:30,Liya Roslin,Manjummel,Student,FEMALE,Graduation(Degree)(Bcom),23,4,L,5,4,red,250,151,58
11,2023/04/04 11:25:15 AM GMT+5:30,Alfy N P,"Thekkenmalipuram, Vypin",Student,FEMALE,Graduation(Degree)(Bcom),22,4,M,2,4,Blue,2 ltr,144,46
12,2023/04/04 11:25:32 AM GMT+5:30,ANJU P K,KOZHIKODE,Student,FEMALE,Graduation(Degree)(Bcom),29,4,XL,5,6,Rose,100 meter,159,70
13,2023/04/04 11:28:59 AM GMT+5:30,Jiyamol Joy,perumbavoor,Student,FEMALE,Graduation(Degree)(Bcom),27,5,M,3,5,black,100 meter,154,56
14,2023/04/04 11:29:26 AM GMT+5:30,Rithun P C,"POOLACHALIL (H),MEPPAYUR(P O), KOYLANDY(V),KOZ...",Student,MALE,Graduation(Degree)(Bcom),27,My families have 6 members,M,4,6,Black,1/2 liters,176,68
15,2023/04/04 11:29:32 AM GMT+5:30,Akshara Vincent,thadikkadvu,Student,FEMALE,Graduation(Degree)(Bcom),21,4,XL,3,4,Black,1/2 liters,164,54
16,2023/04/04 11:29:46 AM GMT+5:30,Ajesh C,Alappuzha,Student,MALE,Graduation(Degree)(Bcom),30,Five,S,Two,Five,I favorite a Red,1,153,46
17,2023/04/04 11:31:27 AM GMT+5:30,Athira pv,thrissur,Student,FEMALE,Graduation(Degree)(Bcom),23,four,S,four,eight,purple,500 ML,156,45
18,2023/04/04 11:31:38 AM GMT+5:30,Remya Raghavan,perumbavoor,Student,FEMALE,Graduation(Degree)(Bcom),23,5,S,2,7,Black,5L,145,50