In [14]:
import pandas as pd
#pd package is being imported from pandas library

data = pd.read_csv('Height of Male and Female by Country.csv')
data
data.head() #head() will shows 1st 5rows of the data
data.tail()#tail() shows the last 5 rows
data.head()
data.tail()
data.head(1)
data.tail(1)
data.head(5)
data.tail(5)
#so these codes are the basic codes for viewing the structure of the data

,Rank,Country Name,Male Height in Cm,Female Height in Cm,Male Height in Ft,Female Height in Ft
194,195,Mozambique,164.30,155.42,5.39,5.10
195,196,Papua New Guinea,163.10,156.89,5.35,5.15
196,197,Solomon Islands,163.07,156.79,5.35,5.14
197,198,Laos,162.78,153.10,5.34,5.02
198,199,Timor-Leste,160.13,152.71,5.25,5.01

In [15]:
data.shape

(199, 6)

In [16]:
data.columns

Index(['Rank', 'Country Name', 'Male Height in Cm', 'Female Height in Cm',
       'Male Height in Ft', 'Female Height in Ft'],
      dtype='object')