# Project1 - Sales Data

In [55]:
import pandas as pd
data = pd.read_excel('1 Sales Data.xlsx')
data

,Invoice Number,Date,Time,Zone,Manager,Customer,Product,price,Units Sold,sales
0,102234,2010-01-07,10:25:37.200000,East,Bruce,Polo,A001,485,42,20370
1,102235,2010-01-07,12:00:00,East,Jacob,EEE,B227,292,71,20732
2,102235,2010-01-07,14:19:12,East,Melvin,Marco,A009,544,87,47328
3,102236,2010-01-07,12:57:00,South,Alicia,EEE,D440,385,51,19635
4,102236,2010-01-07,14:51:36,East,Paul,Zee,WP6,173,69,11937
...,...,...,...,...,...,...,...,...,...,...
26078,115273,2018-12-10,11:16:48,West,Melvin,ABC,B229,388,202,78376
26079,115274,2018-12-10,11:16:48,West,Melvin,ABC,B229,388,201,77988
26080,115273,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,500,194000
26081,115273,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,1000,388000
26082,115274,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,1500,582000

## Find total sales

In [56]:
data.sum()

C:\Users\vantl\AppData\Local\Temp\ipykernel_18940\1263598667.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.sum()

Invoice Number                                           2836650140
Zone              EastEastEastSouthEastEastEastEastSouthEastEast...
Manager           BruceJacobMelvinAliciaPaulBruceJacobMelvinAlic...
Customer          PoloEEEMarcoEEEZeePoloEEEMarcoEEEZeePoloEEEMar...
Product           A001B227A009D440WP6A001B227A009D440WP6A001B227...
price                                                       9562092
Units Sold                                                  2961642
sales                                                    1085806200
dtype: object

## Find total number of products sold

In [57]:
z=data['Product '].value_counts().sum()
z

26083

## Find maximum sales

In [58]:
z=data['sales'].max()
z

582000

## Find minimum sales

In [59]:
z=data['sales'].min()
z

865

## Find the Avergae Sales

In [60]:
z=data['sales'].mean()
z

41628.88471418165

## Find the Range of Sales

In [61]:
z= 582000- 865
z

581135

## Find the Standard Deviation of Sales

In [62]:
print(statistics.stdev(['sales'])

SyntaxError: incomplete input (3322822881.py, line 1)

### Find Average Sales by each zone

In [2]:
z=['Zone '].value_counts().mean()
z

AttributeError: 'list' object has no attribute 'value_counts'

In [ ]:
z=data['sales'].value_mean().sum()
z