# Python Indentation

In [4]:
#python indentation
#if we give if statement, before printing the we should give space before next code

if 7 > 3:
    print("Seven is greater than three!")

Seven is greater than three!

In [6]:
if 3 > 1:
    print("Three is greater than one!")
if 7 > 6:
    print("Seven is greater than six!")

Three is greater than one!
Seven is greater than six!

# Python Variable assigning

In [7]:
#Variance in Python
x = 7
y = "Hello"
print(x)
print(y)

7
Hello

# Python Comments

In [9]:
#comments in python
#It is a comment.

"""This is a comment written in more than just one line"""

'This is a comment written in more than just one line'

# Creating python variables

In [10]:
#creating variables

x = "3"
y = "Johny"

print(x)
print(y)

3
Johny

In [16]:
x = 321    #x is of type int 
x= "Jitt"  #x is now of type str

print(x)

Jitt

# Python Casting

In [15]:
x = str(12)    #x will be '12'
y = str(12)    #y will be 12
z = float(12)  #z will be 12.0

print(x)
print(y)
print(z)

12
12
12.0

# Getting data type

In [18]:
#get the type

x = 3
y = "Yash"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# We can use single or double quotes

In [19]:
#single or double quotes?

x="Johny"
print(x)
#is the same as
x = 'Johny'

print(x)

Johny
Johny

# Case sensitive

In [20]:
#Case sensitive
a = 3
A = "Yash"
#A will not overwrite a
print(a)
print(A)

3
Yash

# Variable name should be

In [22]:
#**python - variable Names**
#legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(_my_var)
print(MYVAR)

John
John
John

In [27]:
#Ilegal variable name:
"""
myvar = "John"
my-var="John"
my var="John"
"""

'\nmyvar = "John"\nmy-var="John"\nmy var="John"\n'

# Many values to multiple variable

In [28]:
a, b, c = "accounting", "bank","chemistry"
print(a)
print(b)
print(c)

accounting
bank
chemistry

# One value to multiple variables

In [30]:
a = b = c = "Data Analysis"
print(a)
print(b)
print(c)

Data Analysis
Data Analysis
Data Analysis

# Unpack a collection

In [31]:
courses = ["Accounting", "Chemistry", "Data Analysis"]
a, b, c = courses
print(a)
print(b)
print(c)

Accounting
Chemistry
Data Analysis

# Variables output

In [32]:
p = "The course of python is so excellent"
print(p)

The course of python is so excellent

In [33]:
x = "This course"
y = "is"
z = "awesome"
print(x, y, z)

This course is awesome

In [34]:
x = 7
y = 15
print(x + y)

22

In [36]:
x = 5
y = "john"
print(x + y)

#this result show as error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
x = 5
y = "Paul"
print(x, y)

5 Paul

# Global Variable

In [40]:
x = "Exciting"

def myfunc():
  print("Python is " + x)

myfunc()

Python is Exciting

In [41]:
x = "excellent"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is excellent

In [42]:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [43]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic