# Statistics

2 types,descriptive and inferential statistics

In [1]:
# Descriptive Statistics
#In measure of central tendency
#mean, #median, #mode

# Measure of central tendency

In [2]:
#mean

import numpy as np
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.mean(X)

4.2

In [3]:
print("mean:",np.mean(X))

mean: 4.2

In [4]:
#created the list into a table format
import pandas as pd
z=pd.DataFrame(data={'value':[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]})
z

    value
0       1
1       2
2       3
3       1
4       2
5       3
6       4
7       5
8       2
9       6
10      7
11      5
12      4
13      8
14     10

In [5]:
#mean using pandas
z.mean()

value    4.2
dtype: float64

In [6]:
z.describe()

           value
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [7]:
#median
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.median(X)

4.0

In [8]:
print("median:",np.median(X))

median: 4.0

In [9]:
#using pandas
z.median()

value    4.0
dtype: float64

In [10]:
z.describe()

           value
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [ ]:
#mode
#numpy does not has an attribute mode

In [11]:
#using pandas
z.mode()

   value
0      2

In [ ]:
#descriptive statistics
#measure of dispersion
#variance and std deviation

# Measure of Dispersion

In [12]:
#variance
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.var(X)

6.5600000000000005

In [13]:
print("Variance:",np.var(X))

Variance: 6.5600000000000005

In [14]:
#using pandas
z.var()

value    7.028571
dtype: float64

In [16]:
#standard deviation
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.std(X)

2.5612496949731396

In [17]:
print("Variance:",np.std(X))

Variance: 2.5612496949731396

In [18]:
#using pandas
z.std()

value    2.651145
dtype: float64

# 5 Number Summary

1. Minimum
2. 1st quartile - Q1
3. 2nd quartile - Q2 (Median)
4. 3rd quartilr - Q3
5. Maximum

In [19]:
#Minimum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.min(X)

1

In [21]:
print("Minimum:",np.min(X))

Minimum: 1

In [22]:
#using pandas
z.min()

value    1
dtype: int64

In [24]:
#quantiles
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.quantile(X,[0.25,0.50,0.75])

array([2. , 4. , 5.5])

In [27]:
print("Q1 :",np.quantile(X,0.25),
      "Q2: ",np.quantile(X,0.50),
      "Q3: ",np.quantile(X,0.75))

Q1 : 2.0 Q2:  4.0 Q3:  5.5

In [28]:
#using pandas
z.quantile([0.25,0.50,0.75])

      value
0.25    2.0
0.50    4.0
0.75    5.5

In [29]:
z.describe()

           value
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [30]:
#Maximum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.max(X)

10

In [31]:
print("Maximum : ", np.max(X))

Maximum :  10

In [32]:
#using pandas
z.max()

value    10
dtype: int64

# Range

In [33]:
#Range
#using numpy

Ran=np.max(X) - np.min(X)
Ran

9

In [34]:
#using pandas
Range = z.max()-z.min()
Range

value    9
dtype: int64

# IQR

In [35]:
#IQR
#using numpy
IQR = np.quantile(X,0.75)-np.quantile(X,0.25)
IQR

3.5

In [36]:
#using pandas
iqr=z.quantile(0.75)-z.quantile(0.25)
iqr

value    3.5
dtype: float64

# QD

In [37]:
#QD
#using numpy
QD = IQR/2
QD

1.75

In [38]:
#QD
#using pandas
qd =iqr/2
qd

value    1.75
dtype: float64